$header-light-mode: #6a745f;
$header-light-mode-mobile-menu: #bee298aa;
$header-dark-mode: #5e6b51;
$header-dark-mode-mobile-menu: #5e6b51;
$header-dark-mode-color-a: #04dbcd;


$transparente: #00000095;

$nav-text-color: #d0b102;
$nav-text-color-hover: #0590b7;

$bg-body-light-mode: #e3f2fd;
$bg-body-dark-mode: #261b35;

$bg-footer-light-mode: #709a16;


$main-bg-cobertura: #867d7d;