//********///ESPACO DE IMPORTS///*****************//
@import "ultilites/color-paint";//***************//
@import "divisao_de_paginas/header"; //*********//
@import "divisao_de_paginas/main"; //**********//
@import "divisao_de_paginas/footer"; //*******//
@import "divisao_de_paginas/media-Query";//**//
//******************************************//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: $bg-body-light-mode;
  transition-duration: 500ms;
  display: flex;
  flex-direction: column;
  transition-duration: 1s;

    &.active-body{
      background-color: $bg-body-dark-mode;

        header{
          background-color: $header-dark-mode;
            a{
              color: $header-dark-mode-color-a;
                &:hover{
                  color: #2c2c69;
                }
            }
        }
    }
}

